.info {
  max-width: 100%;
  width: 75%;
  margin: 0 auto;
  .topwebsite {
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    .hey {
      font-size: 1.8em;
    }
    .addanimetitle {
      font-size: 1.8em;
    }
  }

  .specificmain {
    display: flex;
    flex-direction: row;

    .mainleft {
      .animeimg {
        border-radius: 10px;
        width: 400px;
      }
    }
    .mainright {
      margin-left: 50px;
    }

    .text {
      color: white;
      font-size: 1.5em;
      margin: 25px;
      margin-left: 0px;
      font-weight: 400;
    }

    .animetitle {
      font-size: 3em;
      margin: 0px;
    }
  }
}
